#profile .card-deck {
  flex-wrap: wrap;
  justify-content: space-around;
}

#profile .card {
  min-width: 300px;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 10px;
}

#profile img {
  width: 50%;
}

#profile .card-body {
  width: 100%;
}

#profile .card-deck .fa-github {
  flex-wrap: wrap;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

#profile {
  background-color: rgb(220, 243, 119);
}

#profile .card-title {
  text-align: center;
}

#profile .card-subtitle {
  text-align: center;
}

/*/#profile .card-text {
  text-align: left;
  padding-top: 1em;
}
*/

/*mobile*/

@media (max-width: 1000px) {
  #profile .card-deck {
    flex-direction: column;
  }
  #profile .card {
    max-width: 100%;
  }
}

/* check for grid system  
https: //bootsnipp.com/snippets/or33d */

@media only screen and (max-width: 375px) {
  .jumbotron {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    background: red;
  }
}