div.box-container {
  background-color: #3cc3b2;
  box-shadow: 5px 5px 0 #fff, 10px 10px 0 rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

button.answer-btn {
  border: 0px !important;
  height: 100%;
  outline: none;
  margin: 0;
  padding: 10px;
}

div.answer {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 20px;
}

div.progress {
  border-radius: 0px;
}

h1.num {
  display: inline;
}

.card.card-footer, .card.card-header {
  background-color: #3cc3b2 !important;
  border: 0;
}

button.next {
  background-color: #fdcc3b !important;
  border: 0px;
}

div.correct {
  background-color: #fdcc3b !important;
}

div.incorrect {
  background-color: #6a737b !important;
}


