.Box-container {
    background-color: #3cc3b2;
    /* linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
    /* border-radius: 5px; */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);     */
    box-shadow: 5px 5px 0 #fff, 10px 10px 0 rgba(0,0,0,0.2);
}

._btn {
    border: 0px !important;
}

._Num {
    display: inline;
}

._Card {
    background-color: #3cc3b2 !important;
    /* 
    
    main pink #fd3b9c
    pale pink #e462a3
    deep yellow #fdcc3b
    bright yellow #F9ED4B

    Flora Firma #73c167
    Citrus Sol #fbb040
    Aqua Azure #3cc3b2
    Summer Storm #6a737b

    */
}

._Question {
    /* background-color: #fdcc3b !important; */
}

._Next {
    background-color: #fdcc3b !important;
    border: 0px !important;
}

._Progress_O {
    background-color: #fdcc3b !important;
}

._Progress_X {
    background-color: #6a737b !important;
}